.footer {
    background-color: #701b17;
    width: 100%;
    height: 100px; 
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    padding: 5px; 
    box-sizing: border-box;
}

.footerLogo {
    height: 90px; 
    width: auto;
    object-fit: contain;
}