@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url('/imagens/background_login.png') no-repeat center center;
  background-size: cover;

  position: relative;
}

.page::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.formContainer {
  position: relative;
  z-index: 1;
}

.formBox {
  width: 520px;

  display: flex;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.92);

  padding: 40px;
  border-radius: 14px;
}

.title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #701b17;
  color: white;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.message {
  margin-top: 12px;
  text-align: center;
}

.registerText {
  margin-top: 15px;
  text-align: center;
}

.link {
  color: #701b17;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}